body {
    padding-top: 50px;
    padding-bottom: 20px; 
    height: 100%;
   /* background-image:url(Images/background4.jpg); */
  /*   margin: 0;
    padding: 0; */
    
}

.body-wrapper {
   min-height: 100%;
  position: relative;
}


html {
    height: 100%;
    margin: 0;
    padding: 0; 
} 

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px; 
    padding-bottom: 200px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color:#02733D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*
    .btn {
  display:block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 10px solid white;
  
}
*/

#circle-button {
    background-color:#02733D;
    margin:auto;
    text-align:center;
    align-items: center;
    padding-top: 75px;
    display:block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid white;
}

#small-circle-button {
    background-color:#02733D;
    margin:auto;
    text-align:center;
    align-items: center;
    padding-top: 11px;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#div-with-small-round-buttons {
    padding-top: 38px;
}
#div-with-button {
   /* text-align:center; */
}

#copyright-div {
    padding-top: 15px;
}
.be-in-middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#div-with-buttons {
    /* background-image:url(Images/background.jpg); */
}
#text-area-no-max-width {
    max-width: 100%;
    padding-top: 42px;
    word-break: keep-all;
    color:#0F723F;
}

#white-color-li {
    background-color: chartreuse;
}

#ordinary-button {
    margin:auto;
    text-align:center;
    align-items: center;
    padding-top: 40px;
    display:block;
    height: 120px;
    width: 320px;
}

#button-in-admin-main-view {
    margin:auto;
    text-align:center;
    align-items: center;
    padding-top: 30px;
    display:block;
    height: 85px;
    width: 330px;
}

#admin-buttons {
    padding-top: 140px;
}

.list-of-services {

    list-style-image: url(Images/F05JSPD.png);
}

.ordinary {
    list-style-type: circle;
}

#service-image-container {

}

#div-in-one-line {
   /* display: inline-block;
   width: 220px; 
  height: 140px;
  margin: 1em; 
   border-style: solid; */
}

.inquiry-div {
   margin-left: auto;
  margin-right: auto;
  display: table;
}

.text-area-inquiry-form {
    width: 300px;
    height: 200px;
}
.div-as-body {
    height:100%;
    width:100%;
}

#search-inputs-div {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.company-logo {
    padding-top: 15px;
}

#div-with-four-projects {
    padding-top: 15px;
    /*background-color: lightgrey; */ 
}

.made-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 200px;
}

#green-part-inside-footer {
     background-color: #02733D;
     width: 100%;
     height: 30%;
     text-align:center;   
}

#white-part-in-footer {
    background-color: lightgrey;
    width: 100%;
    height: 70%;
}

.list-without-bullets {
    list-style-type: none;
}

/* styling tables */

table {
    border-collapse: collapse;
    width: 100%;
    padding-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

#container-of-details-image {
    border-style: solid;
    display: inline-block;
}






