body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color:#02733D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*
    .btn {
  display:block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 10px solid white;
  
}
*/

#circle-button {
    background-color:#02733D;
    margin:auto;
    text-align:center;
    align-items: center;
    padding-top: 75px;
    display:block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid white;
}
#div-with-button {
   /* text-align:center; */
}
.be-in-middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#div-with-buttons {
     background-image:url(Images/background.jpg);
}
#text-area-no-max-width {
    max-width: 100%;
}

#white-color-li {
    background-color: chartreuse;
}

#ordinary-button {
    margin:auto;
    text-align:center;
    align-items: center;
    padding-top: 40px;
    display:block;
    height: 120px;
    width: 250px;
}

#admin-buttons {
    padding-top: 40px;
}




