body {
    padding-top: 50px;
    padding-bottom: 20px; 
    height: 100%;
   /* background-image:url(Images/background4.jpg); */
  /*   margin: 0;
    padding: 0; */
    
}

.body-wrapper {
   min-height: 100%;
  position: relative;
}


html {
    height: 100%;
    margin: 0;
    padding: 0; 
} 

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px; 
    padding-bottom: 200px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select, textarea:not(.text-area-create-form) {
    max-width: 280px;
}

.navbar-inverse {
    background-color:#02733D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*
    .btn {
  display:block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 10px solid white;
  
}
*/

#circle-button {
    background-color:#02733D;
    margin:auto;
    text-align:center;
    align-items: center;
    padding-top: 75px;
    display:block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid white;
}

#small-circle-button {
    background-color:#02733D;
    margin:auto;
    text-align:center;
    align-items: center;
    padding-top: 11px;
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#div-with-small-round-buttons {
    padding-top: 38px;
}
#div-with-button {
   /* text-align:center; */
}

#copyright-div {
    padding-top: 15px;
}
.be-in-middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#div-with-buttons {
    /* background-image:url(Images/background.jpg); */
}
#text-area-no-max-width {
    max-width: 100%;
    padding-top: 23px;
    word-break: keep-all;
    color:#0F723F;
    font-family: 'Roboto', sans-serif;
}

#white-color-li {
    background-color: chartreuse;
}

#ordinary-button {
    margin:auto;
    text-align:center;
    align-items: center;
    padding-top: 40px;
    display:block;
    height: 120px;
    width: 320px;
}

#button-in-admin-main-view {
    margin:auto;
    text-align:center;
    align-items: center;
    padding-top: 30px;
    display:block;
    height: 85px;
    width: 330px;
}

#admin-buttons {
    padding-top: 140px;
}

.list-of-services {

    list-style-image: url(Images/F05JSPD.png);
}

.ordinary {
    list-style-type: circle;
}

.inquiry-div {
   margin-left: auto;
  margin-right: auto;
  display: table;
}

.text-area-inquiry-form {
    width: 300px !important;
    height: 200px !important;
}

.text-area-create-form {
    width: 280px !important;
    max-width: 280px !important;
    height: 200px !important;
}
.div-as-body {
    height:100%;
    width:100%;
}

#search-inputs-div {
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  text-align: right; 
}

#search-projects-buttons {
     margin-top: 35px;
     margin-bottom: 20px;
}

#company-logo {
    height: 55px;
    width: 90px;
}

.company-logo {
    /*padding-top: 15px;*/
}

#div-with-four-projects {
    padding-top: 15px;
    /*background-color: lightgrey; */ 
}

.made-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 200px;
}

#green-part-inside-footer {
     background-color: #02733D;
     width: 100%;
     height: 30%;
     text-align:center;   
}

#white-part-in-footer {
    background-color: lightgrey;
    width: 100%;
    height: 70%;
}

.list-without-bullets {
    list-style-type: none;
}

/* styling tables */

table {
    border-collapse: collapse;
    width: 100%;
    padding-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

#container-of-details-image {
    border-style: solid;
    display: inline-block;
}

dt {
    padding: 8px;
    text-align: left;
   /* margin: 7px;*/
    background-color: #4CAF50;
    color: white;
    border-bottom: solid 1px #000;
}

dd {
    /*margin: 5px;*/
    padding: 8px;
    text-align: left;
    border-bottom: solid 1px #000;
    width: 370px;
}

.parent-tr {
    position: relative;
}

.lower-left-corner-td {

    position:absolute;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    border-top:none !important;
    font-weight: bold; 
    height: 50px;
    width: 50px;
    background-color: red;
   
}

.vertical-middle-td {
    vertical-align: middle;
}


/* Designing project cards in home page*/
#blogpost-card {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

#blogpost-card:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.blogpost-card--date {
    padding: 8px 16px;
    margin: 0;
    color: #607d8b
}

.blogpost-card--title {
    padding: 0 16px 16px;
    margin: 0;
    font-weight: 200;
    line-height: 1.5
}

.blogpost-card--body {
    padding: 0 16px 16px;
    color: rgba(0, 0, 0, .87);
    line-height: 1.5;
    margin-bottom: 0
}

.blogpost-card--action {
    border-top: 1px solid rgba(158, 158, 158, .4);
    padding: 8px;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.blogpost-card--img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
    height: auto
}

.blogpost-card--img-container {
    position: relative;
    overflow: hidden;
    height: 9em;
    background: #ffd740
}
/* end */

/* designing 3 buttons in home page*/

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-family: 'Slabo 27px', serif;
	font-size: 25px;
	color: white;
	text-decoration: none;
    width: 100%;
    text-align:center;	
}

.blue
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644 ;
	/*text-shadow: 0px -2px #669644;*/
}

/* end */

#parent-element {
    position: relative;
}

#child-element {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15% 0 0 -25%;
}

.buttons-with-70proc-width {
    width: 70%;
}










