@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
}

<h2>Create a new role</h2>

<style type="text/css">
    #tbrole, .c {
        border: double;
    }
</style>

@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <tr>
            <td class="c"> Enter role name to be created:</td>
            <td class="c">
                @Html.EditorFor(m => m.Name)
            </td>
        </tr>

    </table>
    <input type="submit" value="Create Role" />
}